.gameover-backdrop{
    position: fixed;
    inset: 0;
    display:flex;
    justify-content:center;
    align-items:center;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(3px);
    z-index: 1050;
}

.lista-palabras-final{
    display: flex;
    flex-wrap: wrap;
    max-height: 45px;
    overflow-y: auto;
    padding: 1% 1% 0% 1%;
    border: 1px solid #dee2e6;
    background: #f8f9fa;
    justify-content:safe;
    align-items:center;
}
